.main {
    min-height: 70px;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main a{
    font-size: 35px;
    text-decoration: none;
    color: lavender;
}

.main a[class='active'] {
    text-decoration: underline;
    color: bisque;
}
.outlet {
    width: 95%;
    margin:0 auto;
    height: calc (100vh-90px);
    overflow: hidden;
    overflow-y: auto;
}
.footer {
    background-color: dimgray;
    color: snow;
    min-height: 30px;
    display: flex;
    justify-content:right;
    padding-right: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}
