.main {
    min-height: 60px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main a{
    font-size: 35px;
    text-decoration: none;
    color: lavender;
}

.main a[class='active'] {
    text-decoration: underline;
    color: sienna;
}

